#one{
    border: 5px solid;
    background-color: burlywood;
}

#two{
    border: 3px solid;
    background-color: burlywood;
}
#three{
    border: 2px solid;
    background-color: burlywood;

}
#four{
    
    background-color: burlywood;
}